#landingFooter {
    background: url('https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png') repeat top center;
    width: 100%;
}

#footerLink {
    text-decoration: none;
    color: #272727;
    display: flex;
    align-items: center;
}

#footerLink:hover {
    color: #526faf;
}

#navWordmark {
    display: none;
}

#navLgLinks {
    display: none;
}

@media (min-width: 24rem) {
    #navLogo {
        display: none
    }
    
    #navWordmark {
        display: initial;
    }

}

@media (min-width: 50rem) {
    #navSmLinks {
        display: none;
    }

    #navLgLinks {
        display: flex;
    }
}